.header{
    position: absolute;
    top: 0;
    width: 100%;
    background: white;
    border-bottom: 1px solid gray;
    display: flex;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
}
.header:hover{
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;
}

.header-menu{
    padding-right: 43px;
}

.header-menu-item{

}

li{
    cursor: pointer;
    user-select: none;
    display: inline;
    padding: 12px 10px;
    /* background: cyan; */
    /* margin: 4px; */
    /* border-radius: 4px; */
    /* border-right: 1px solid; */
    color: gray;
    opacity: 0.5;
}

li:hover{
    /* background-color: cyan; */
    color: black;
    /* border-top: 1px solid cyan; */
    border-bottom: 1px solid gray;;
    border-right: none;
    border-left: none;

}