:host{
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}
.signup{
    position: absolute;
    background: cadetblue;
    height: 100vh;;
}
:host{
    display: flex;
    justify-content: center;

    /* background: url('../../../assets/images/loginbackground.jpg'); */
    background-size: 100% 100%;
    background-repeat:no-repeat;
    height: 100%;   
}
form{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
}
/* .row{
    height: 400px;
    width: 300px;
    margin-right: 10%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
} */
.col{
    height: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 2px 6px 6px -6px black;
    border-radius: 6px;
}
.row{
    height: 400px;
    width: 300px;
    margin-right: 10%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    padding: 10px;
    border: 1px solid white;
    border-radius: 33px;
}

a{
    text-align: center;
    text-decoration: none;
    color: white;
}

.form-item{
    padding: 15px 15px;
}