<div class="tags">
    <div class="choose-question">
        <h2>Choose the language you want to ask question about</h2>
      </div>
  <div class="tags-menu">
    <div class="row">
    <div *ngFor="let item of tagsData; let i=index" (click)="goTo(item.link)"  class="tags-menu-item" >
      <div  class="image">
        <img [src]="item.imagePath">
      </div>
      <div class="title">
        <label>{{item.label}}</label>
      </div>
    </div>

    <!-- <div class="tags-menu-item">
      <div class="image">
        <img src="../../../assets/images/JS-logo.png" alt="">
      </div>
      <div class="title">
        <label for="js">JAVASCRIPT</label>
      </div>
    </div>

    <div class="tags-menu-item">
      <div class="image">
        <img src="../../../assets/images/JS-logo.png" alt="">
      </div>
      <div class="title">
        <label for="js">JAVASCRIPT</label>
      </div>
    </div>

    <div class="tags-menu-item">
      <div class="image">
        <img src="../../../assets/images/JS-logo.png" alt="">
      </div>
      <div class="title">
        <label for="js">JAVASCRIPT</label>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="tags-menu-item">
      <div class="image">
        <img src="../../../assets/images/JS-logo.png" alt="">
      </div>
      <div class="title">
        <label for="js">JAVASCRIPT</label>
      </div>
    </div>
    
    <div class="tags-menu-item">
      <div class="image">
        <img src="../../../assets/images/JS-logo.png" alt="">
      </div>
      <div class="title">
        <label for="js">JAVASCRIPT</label>
      </div>
    </div>
    
    <div class="tags-menu-item">
      <div class="image">
        <img src="../../../assets/images/JS-logo.png" alt="">
      </div>
      <div class="title">
        <label for="js">JAVASCRIPT</label>
      </div>
    </div>

    <div class="tags-menu-item">
      <div class="image">
        <img src="../../../assets/images/JS-logo.png" alt="">
      </div>
      <div class="title">
        <label for="js">JAVASCRIPT</label>
      </div>
    </div> -->
  </div>

  </div>
</div>