
.tags{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tags-menu{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* padding: 0px 100px; */
    width: 100%;;
}

.title{
    text-align: center;
    width: 100%;
    padding: 10px 10px;
    font-weight: bold;
    cursor: pointer;
}

.tags-menu-item{
    cursor: pointer;
    border: 1px solid;
    padding: 10px 10px;
    /* width: 20%; */
    margin: 6px;
    flex: 20%;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: black;
    justify-content: space-around;
    -webkit-animation: fadeIn 4s;
    animation: fadeIn 4s;
}

.image{
    width: 100px;
    text-align: center;
}
img{
    width:100px;
}
.row{
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
}

.choose-question{
color: gray;
-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

h2{
font-weight: 100;

}