<div class="tags">
  <div class="tags-menu">

    <div class="row">

    <div class="tags-menu-item" routerLink="javascript">
      <div class="image">
        <img src="../../../assets/images/JS-logo.png" alt="">
      </div>
      <div class="title">
        <label for="js">JAVASCRIPT</label>
      </div>
    </div>

    <div class="tags-menu-item">
      <div class="image">
        <img src="../../../assets/images/JS-logo.png" alt="">
      </div>
      <div class="title">
        <label for="js">JAVASCRIPT</label>
      </div>
    </div>

    <div class="tags-menu-item">
      <div class="image">
        <img src="../../../assets/images/JS-logo.png" alt="">
      </div>
      <div class="title">
        <label for="js">JAVASCRIPT</label>
      </div>
    </div>

    <div class="tags-menu-item">
      <div class="image">
        <img src="../../../assets/images/JS-logo.png" alt="">
      </div>
      <div class="title">
        <label for="js">JAVASCRIPT</label>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="tags-menu-item">
      <div class="image">
        <img src="../../../assets/images/JS-logo.png" alt="">
      </div>
      <div class="title">
        <label for="js">JAVASCRIPT</label>
      </div>
    </div>
    
    <div class="tags-menu-item">
      <div class="image">
        <img src="../../../assets/images/JS-logo.png" alt="">
      </div>
      <div class="title">
        <label for="js">JAVASCRIPT</label>
      </div>
    </div>
    
    <div class="tags-menu-item">
      <div class="image">
        <img src="../../../assets/images/JS-logo.png" alt="">
      </div>
      <div class="title">
        <label for="js">JAVASCRIPT</label>
      </div>
    </div>

    <div class="tags-menu-item">
      <div class="image">
        <img src="../../../assets/images/JS-logo.png" alt="">
      </div>
      <div class="title">
        <label for="js">JAVASCRIPT</label>
      </div>
    </div>
  </div>

  </div>
</div>