.image{
    width: 100%;
}

img{
    width: 100%;
}

.tags-menu{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px 100px;
}

.title{
    text-align: center;
    border: 1px solid;
    background: rgb(184, 196, 85);
}

.tags-menu-item{
    /* border: 1px solid; */
    /* width: 20%; */
    padding: 8px 8px;
    margin: 6px;

}

.row{
    display: flex;
    padding: 30px;
}