<div class="container">
  <div class="row">
    <div class="col">
     
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <span class="title">login</span>
        <div class="form">
          <div class="form-item">
            <input class="input" type="text" placeholder="Enter first name" formControlName="firstNameLogin">
          </div>
          <div class="form-item">
            <input class="input" type="text" placeholder="Enter last name" formControlName="passwordLogin">
          </div>
        </div>
        <button class="submit-btn" type="submit" [disabled]="!loginForm.valid">Submit</button>
        <!-- <a routerLink="/signup">Sign up here!</a> -->
      </form>
      <!-- Signup -->
      <!-- <div *ngIf="isSignUp" [formGroup]="SignUpFrom" (ngSubmit)="onSignUp()">
        <h1>Signup</h1>
        <div class="form">
          <div class="form-item">
            <input class="input" type="text" placeholder="Enter first name" formControlName="firstNameSingUp">
          </div>
          <div class="form-item">
            <input class="input" type="text" placeholder="Enter last name" formControlName="lastName">
          </div>
          <div class="form-item">
            <input class="input" type="text" placeholder="Email" formControlName="email">
          </div>
          <div class="form-item">
            <input class="input" type="text" placeholder="Password" formControlName="passwordSignUp">
          </div>
        </div>
        <button class="submit-btn" type="submit">Submit</button>
      </div> -->

    </div>
  </div>
</div>