.footer{
    z-index: 10;
/* position: absolute; */
position: fixed;
height: 80px;
background: white;
border-top: 1px solid gray;
bottom: 0;
display: flex;
justify-content: center;
align-items: center;
height: 40px;
width: 100%;
}
.footer:hover{
    /* -webkit-box-shadow:  6px -6px 0 6px black;
    -moz-box-shadow:  6px -6px 0 8px  black;
         box-shadow: 6px -6px  0 8px black; */
         box-shadow: 0px 2px 2px #888, 0px -4px 5px #888;

}
