<div class="about-us-container">
  <div class="row">

    <div class="col border-left col-2">
      <div class="body">
        <h1>"</h1>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime sed ipsa, incidunt, exercitationem
          praesentium dicta voluptatum nesciunt tempore reiciendis facilis, harum dolor provident repellat maiores quo
          magni. Temporibus, ea consectetur.10 "</span>
        <h1>"</h1>
      </div>
    </div>

    <div class="col  col-1">
      <div class="title-container">
        <h1 class="title">Contact us</h1>
      </div>

    </div>
  </div>

</div>